body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/2.jpeg);
    
  }

  h1 {
    color: white;
    font-family: monospace;
    font-style: bold;
  }
  
  .input-group{
    border: 6em;
    margin-top: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .gender-div{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    position: center;
    margin-top: 5rem;

  }