body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
  }

  h1 {
    color: rgb(68, 63, 63);
    font-family:'Times New Roman', Times, serif;
    font-size: 70px;
  }
  
  .input-group{

    margin-top: 5rem;
  }

  .div-div{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    position: center;
    margin-top: 5rem;

  }