h1 {
    color: red;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold; 
    ;
    } 

    a{
        color: red ;

    }
    a:hover{ 
        color: blue;   
    }
    body{
        background-color: royalblue;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    P{
        color: #000;
        text-align: center;
    }
